.animated-toggle-component{
	&.fade.state-CLOSED {
		display: none;
		opacity:0;
	}

	&.fade.state-PREOPENING,
	&.fade.state-CLOSING {
		opacity:0;
	}

	&.fade.state-OPENING,
	&.fade.state-OPEN {
		opacity:1;
	}

	transition: opacity 300ms;
}